/* @import url('https://fonts.googleapis.com/css2?family=Honk&display=swap')
 
//<uniquifier>: Use a unique and descriptive class name
 // <morph>: Use a value from 0 to 45
// <shadow length>: Use a value from 0 to 100

honk-<uniquifier> {
  font-family: "Honk", system-ui;
  font-optical-sizing: 'auto';
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}; */